:root {
    --base: #fff;
    --half: #888;
    --use: #000;
    --accentBase: #448;
    --accentHalf: #888;
    --accentUse: #fff;
    --link: #88f;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
html {
    padding-left: calc(100vw - 100%);
    font-weight: 300;
    font-size: 16px;
}
body {
    position: relative;
    color: var(--use);
    background-color: var(--base);
}

#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: calc(-1 * (100vw - 100%));
    background-image: url('/media/background/background_fhd.jpg');
    background-position: 0 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    filter: invert();
}

main {
    overflow-x: visible;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 8px;
    backdrop-filter: blur(8px);
}

main > a {
    background-color: transparent;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}
button {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    appearance: none;
    color: inherit;
    background-color: transparent;
}
